@import "../../scss/variables";
@import "../../scss/mixins";

.product-list{
    margin: 1rem;

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    // align-items: center;
    // gap: 2rem;
@include flexYapisi(space-evenly,2rem);

.card{

    width: 350px;
    height: $cardHeight;
    position: relative;
    overflow: hidden;

    .price{
        padding: $cardPadding;
position: absolute;
top:50% ;
left:50% ;
transform: translate(-50%,-50%);
border-radius: $borderRadius;
background-color: $cardBgColor;
color: $cardColor;
z-index: 1;
    }

    img{
 width: 100%;
 height: $cardHeight;
 border-radius: $borderRadius;
 filter:sepia(100%)
    }
   

    &-over{
position: absolute;
width: 100%;
bottom: 0;
font-size: 1.2rem;
background-color: $cardBgColor;
padding: $cardPadding;
border-radius: $borderRadius;
color: darken($cardColor,50%) ;
transition: transform 0.5s;
transform: translateX(100%);

    }
    &:hover .card-over{
       transform:translateX(0%);
    }
  &:hover img{
    filter:sepia(0%)
}
}

}