@import "../../scss/variables";
@import "../../scss/mixins";
.header{

text-align: center;
margin-top: 5rem;

h1{

font-size: 3rem;
margin: 1rem;
font-family: 'Courier New', Courier, monospace;
color: $cardNavBgColor;
}

.btn-wrapper{
// display: flex;
// flex-wrap: wrap;
// gap: 1rem;
// justify-content: center;
// align-items: center;

@include flexYapisi(center,1rem);

    button{
width: 12rem;
font-size: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        transition: all 0.8s;
        &:hover{
            background-color: $btnHoverColor;
color: white;

        }
    }

}

 
}
